.mainAdd {
    background-color: #EEEFF1;
    display: flex;
    flex-direction: column;
}
.bannerAdd {
    margin: 85px 20px 0px 20px;
}
.conteiner__images__pc {
    margin-top: 20px;
    margin-left: 78px;
}
.flex__boxx {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner__images__pc {
    margin-top: 20px;
    margin-left: 78px;
}
.textBox {
    display: flex;
    flex-direction: column;
    margin: 3%;
}
.banner-link-wrap {
    min-width: 225px;
    height: 55px;  
}
.buttonPhoto{
    margin: 20px;
}

.img{
    border-radius: 8px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.inputText{
    margin-bottom: 3%;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
}

.containerSection{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

@media only screen and (min-width: 650px) {
	.textBox {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 3%;
    }
}

@media only screen and (min-width: 868px) {
	.textBox {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 3%;
    }
}

@media only screen and (min-width: 1100px) {
	.textBox {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 3%;
    }
}